node_modules
.DS_Store
dist
src/ios/Plugin/Pods/
demo/android/app/src/main/assets
.idea
.vscode
demo/android/app/build
src/android/projektionisten-capacitor-datepicker/build
src/android/projektionisten-capacitor-datepicker/.gradle
demo/.gradle
