<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs">docs</a> will be your guide.</p>
  <ion-button (click)="showDate()">Show Date Picker</ion-button>
  <ion-button (click)="showTime()">Show Time Picker</ion-button>
  <ion-label>Date</ion-label>
  <ion-label>{{selectedDate}}</ion-label>
  <ion-label>Time</ion-label>
  <ion-label>{{selectedTime}}</ion-label>
</ion-content>
